@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-glassparent: rgba(36, 36, 36, 0.35);
  --clr-dark-aura: rgba(0, 0, 0, 1);
  --clr-desaturated: rgb(177, 177, 177, 1);
  --clr-evergreen: rgb(160, 170, 43, 1);

  --font-nunito: "Nunito", sans-serif;
}

* {
  border: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ui-container::before {
  content: "";
  position: absolute;
  inset: auto auto 80% 80%;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(#702134, #6b3719);
  border-radius: 50%;
  filter: blur(100px);
  animation: float 10s linear infinite;
  z-index: -1;
}

.ui-container::after {
  content: "";
  position: absolute;
  inset: 80% 80% auto auto;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(#471e70, #162e5c);
  border-radius: 50%;
  filter: blur(100px);
  animation: float 10s 1s linear infinite;
  z-index: -1;
}

.bullet-before {
  @apply before:content-[''] before:block before:absolute before:rounded-full before:top-[0.4em] before:ml-[-1.25em] before:w-[0.65em] before:h-[0.65em] before:bg-evergreen;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: #333;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--clr-evergreen);
  border-radius: 5px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(200px);
  }
}
